<!-- This is our index.html, this uses the base.html so it has access to all the libraries -->
{% extends "base.html" %} {% block title %} Index Page {% endblock %} {% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <!-- Initial Vue component will get injected here. -->
            <h1 class="title has-text-centered has-text-danger">BuFVuR</h1>
            <div id="root">{% include 'vue_loader.html' %}</div>
        </div>
    </div>
</section>
{% endblock %}